.slider{
    width: 300px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: end;
    
   
   
}
.slider-prev{
    height: 20px;
    padding-bottom: 0px;
}
 
.slider-next{
    height: 20px;
}